@tailwind base;
@tailwind components;
@tailwind utilities;


/* #line-group {
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#line-group:hover {
    animation-play-state: paused;
} */